<h1>Mid-Atlantic Rescue Organizations  <%=link_to "(+)",  new_rescue_path%></h1>
<main>
<%@rescues.each do |org|%>
<a href="rescues/<%=org.id%>"><div class="container">
  <img class="orgs" src="<%=org.img_url%>"/>
</div></a>
<%end%>
</main>
