<main>
  <a href="/dogs">
    <div class="main">
      <img class="icon" src="http://pngimg.com/upload/dog_PNG195.png"/>
      <h3>View Adoptable Dogs</h3>
    </div>
  </a>

  <a href="/rescues">
    <div class="main">
      <%=image_tag("map_icon.png", class:"icon")%>
      <h3>Local Rescue Orgs</h3>
    </div>
  </a>
</main>
