<h1>Adoption Resources</h1>
<div class="box">
  <h3>For Potential Adopters</h3>
  <ul>
    <li><a href="https://www.petfinder.com/pet-adoption/dog-adoption/dog-adoption-checklist/" target="_blank">Adoption Checklist</a></li>
    <li><a href="http://www.americanhumane.org/fact-sheet/are-you-ready-to-own-a-pet/" target="_blank">Am I Ready to Adopt?</a></li>
    <li><a href="http://www.aspca.org/pet-care/general-pet-care/cutting-pet-care-costs" target="_blank">Costs of Caring for a Pet</a></li>
    <li><a href="http://www.americanhumane.org/fact-sheet/is-a-dog-right-for-you/" target="_blank">Is a Dog Right for Me?</a></li>
    <li><a href="http://www.rent.com/pet-friendly-apartments" target="_blank">Find a Pet Friendly Apartment</a></li>
  </ul>

  <h3>New Pet Owners</h3>
  <ul>
    <li><a href="http://www.dogfencediy.com/rescue-dog/" target="_blank">The First Seven Days from Shelter to Home</a></li>
    <li><a href="http://www.labradortraininghq.com/labrador-training/how-to-house-train-a-puppy/" target="_blank">How to House Train a Puppy</a></li>
    <li><a href="http://www.americanhumane.org/fact-sheet/introducing-dogs-to-cats/" target="_blank">Introducing Dogs to Cats</a></li>
  </ul>

  <h3>Health</h3>
  <ul>
    <li><a href="http://www.aspca.org/pet-care/animal-poison-control/people-foods-avoid-feeding-your-pets" target="_blank">Foods that are Poisonous to Pets</a></li>
    <li><a href="http://www.adoptapet.com/public/spay_and_neuter/index.html" target="_blank">Why to Spay/Neuter</a></li>
  </ul>

  <h3>Kids and Pets</h3>
  <ul>
    <li><a href="http://petid.homeagain.com/Newsletters/2013/July/teach-your-kids-to-be-good-pet-parents.aspx#.WCIUQeErIxc" target="_blank">Teach your Kids to be Good Pet Owners</a></li>
    <li><a href="http://www.sheknows.com/pets-and-animals/articles/2212/kids-and-pets" target="_blank">How Pets Benefit Childhood Development</a></li>
  </ul>

</div>
